body {
	margin: 0;
	padding: 0;
}
table {
	height: 400px;
	width: 800px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	font-family: Georgia, Serif;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
}
td {
	text-align: left;
	padding: 5px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid black;
	display: inline-block;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	display: inline-block;
}
#rowNumber{
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}